@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&display=swap');

* {
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear !important;
    -o-transition: all 200ms linear !important;
    transition: all 200ms linear !important;
    margin: 0;
}

:root {
    --ff-poopins: "Poppins",
        sans-serif;
    --ff-Racing-sans: "Racing Sans One",
        sans-serif;
    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;
    --fw-3: 300;


    --primary-color: #140D1B;
    --nav-color: #FFFFFF0A;
    --black-color: #000000;
    --btn-color: linear-gradient(90deg, #1219D2 0%, #4E52B1 100%);
    --slider-color: #F0E8E1;
    --red-color: #FF1300;
    --green-color: #00A106;
    --team-1: #70675F;
    --team-2: #A59A90;
    --white-color: #ffff;
    --blue-color: blue;
    --card-color: #031227;
    --timeline-ball: #009DFF;
    --accord-color: #031227;
    --liner-gradient: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    --pink-color: #F7608C;
    --orange-color: #F8AC58;
    --slider-bg: #141044;

    --fs-10: 10px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-21: 21px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-36: 36px;
    --fs-40: 40px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fs-60: 60px;
    --fs-61: 61px;
    --fs-64: 64px;
    --fs-70: 70px;
    --fs-72: 72px;
    --fs-80: 80px;
    --fs-157: 157px;


    --lh-16: 16px;
    --lh-19: 19px;
    --lh-21: 21px;
    --lh-20: 20px;
    --lh-23: 23px;
    --lh-24: 24px;
    --lh-26: 26px;
    --lh-27: 27px;
    --lh-28: 28px;
    --lh-29: 29px;
    --lh-30: 30px;
    --lh-32: 32px;
    --lh-35: 35px;
    --lh-37: 37px;
    --lh-39: 39px;
    --lh-40: 40px;
    --lh-41: 41px;
    --lh-42: 42px;
    --lh-45: 45px;
    --lh-49: 49px;
    --lh-54: 54px;
    --lh-56: 56px;
    --lh-68: 68px;
    --lh-72: 72px;
    --lh-75: 75px;
    --lh-83: 83px;
    --lh-86: 86px;
    --lh-100: 100px;
    --lh-188: 188px;

}

.black {
    color: var(--black-color);
}

.ff-p {
    font-family: var(--ff-poopins);
}

.ff-r {
    font-family: var(--ff-Racing-sans);
}

.curser {
    cursor: pointer;
}

.lh-26 {
    line-height: var(--lh-26);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-45 {
    line-height: var(--lh-45);
}

.lh-42 {
    line-height: var(--lh-42);
}

.lh-30 {
    line-height: var(--lh-30);
}

.lh-35 {
    line-height: var(--lh-35)
}

.lh-16 {
    line-height: var(--lh-16);
}

.lh-40 {
    line-height: var(--lh-40);

}


.lh-68 {
    line-height: var(--lh-68);
}

.lh-37 {
    line-height: var(--lh-37);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-83 {
    line-height: var(--lh-83);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-56 {
    line-height: var(--lh-56);
}


.lh-32 {
    line-height: var(--lh-32);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-75 {
    line-height: var(--lh-75);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-100 {
    line-height: var(--lh-100);
}

.fw-4 {
    font-weight: var(--fw-4);
}

.fw-5 {
    font-weight: var(--fw-5);
}

.fw-8 {
    font-weight: var(--fw-8);
}

.fw-6 {
    font-weight: var(--fw-6);
}

.fw-7 {
    font-weight: var(--fw-7);
}

.fw-3 {
    font-weight: var(--fw-3);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-61 {
    font-size: var(--fs-61);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-157 {
    font-size: var(--fs-157);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-21 {
    font-size: var(--fs-21);
}

.fs-70 {
    font-size: var(--fs-70);
}

.white {
    color: var(--white-color);
}

.gap-32 {
    gap: 32px;
}

.gap_30 {
    gap: 30px;
}

.gap_10 {
    gap: 10px;
}

.mt_10 {
    margin-top: 10px;
}

.max-w-367 {
    max-width: 367px;
}

.slick-itm {
    background-color: var(--slider-bg);
    border-radius: 13px;
}

.pb_21 {
    padding-bottom: 21px;
}

.px_21 {
    padding-left: 21px;
    padding-right: 21px;
}

.pt_17 {
    padding-top: 17px;
}

.container-slider,
.container-pop {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.slick-dots li button {
    display: none !important;
}

.slick-dots {
    bottom: -65px !important;
}

.slick-dots .slick-active {
    background-color: #1219D2;
    width: 59px;
    height: 12px;
    border-radius: 21px;
}

.slick-dots li {
    width: 25px;
    height: 12px;
    background: var(--white-color);
    border-radius: 21px;
}

.rounded_13 {
    /* border-radius: 13px; */
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form-group {
    display: block;
    margin-bottom: 15px;
}

.slick-slide {
    margin-left: 27px;
}

.slick-list {
    margin-left: -27px;
}

.slick-itm:hover .off_txt {
    opacity: 1;
}

.slick-slide>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_txt {
    opacity: 0;
}

.img:hover .img_txt {
    opacity: 1;
}

.img_txt,
.off_txt {
    backdrop-filter: blur(10px);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 16px;
    left: 16px;
    border-radius: 42px;
    background-color: #01010140;
    opacity: 0;
    transition: all 400ms linear !important;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
    display: flex;
}

.form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid var(--white-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 2px;
    /* top: -2px; */
}

.form-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 8px;
    width: 6px;
    height: 14px;
    border: solid var(--white-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* end */
.main-sec-container {
    max-width: 930px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.w_h_18 {
    width: 18px;
    height: 18px;
    border: 1px solid var(--white-color);
}

.connect-btn {
    padding: 16px 32px;
    background: var(--btn-color);
    border: none;
    border-radius: 60px;
}

.bg-img {
    background-image: url(../img/png/hero-sec-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nav-bg-color {
    background: var(--nav-color);
}

.underline {
    position: relative;
    z-index: 1;
}

.underline::before {
    content: "";
    width: 100%;
    position: absolute;
    background-color: #1219D2;
    height: 21px;
    border-radius: 21px;
    bottom: 17%;
    right: 0;
    z-index: -1;
}

.container_tokenomics {
    max-width: 1120px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.px_202px {
    padding-left: 202px;
    padding-right: 202px;
}

.pt_160 {
    padding-top: 160px;
}

.w_h_406 {
    max-width: 406px;
    min-height: 406px;
}

.px_50 {
    padding-left: 50px;
    padding-right: 50px;
}

.gap_90 {
    gap: 90px;
}

.pt_26 {
    padding-top: 26px;
}

.gap_30 {
    gap: 30px;
}

.pt-18 {
    padding-top: 18px;
}

.w_h_582_480 {
    width: 582px;
    min-height: 480px;
    background: rgba(18, 25, 210, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    /* opacity: 20%; */
}

.gap_100 {
    gap: 100px;
}

input[type="text"]::placeholder {
    font-weight: var(--fw-3);
    font-family: var(--ff-poopins);
    font-size: var(--fs-16);
    line-height: var(--lh-24);
    color: var(--white-color);
}

.txt {
    font-weight: var(--fw-3);
    font-family: var(--ff-poopins);
    font-size: var(--fs-16);
    line-height: var(--lh-24);
    color: var(--white-color);
}

.pl_8 {
    padding-left: 8px;
}

.pr_8 {
    padding-right: 8px;
}

.pt_12 {
    padding-top: 12px;
}

.pb_12 {
    padding-bottom: 12px;
}

.py_10 {
    padding-left: 10px;
    padding-right: 10px;
}

.location-border {
    border: 1px solid #FFFFFF99;
    background-color: #2B2A4C;
    border-radius: 8px;
}

.border-sec {
    border: 1px solid #FDFDFD66;
    border-radius: 16px;
    backdrop-filter: blur(5px);
    padding: 20px 40px;
}

.outlin-none {
    outline: none;
}

.nav-links {
    position: relative;
    text-decoration: none;
}

.buttons {
    text-decoration: none;
}

.nav-links::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: var(--white-color);
    transition: all 200ms linear;
}

.nav-links:hover {
    -webkit-text-stroke: thin;
}

.nav-links:hover::before {
    width: 100%;
}

.mt_20 {
    margin-top: 20px;
}

.bg-clr {
    background-color: var(--primary-color);
}

.mt-40 {
    margin-top: 40px;
}

.bg_img {
    background-image: url(../img/png/tekenomics_sec_bg_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pb_180 {
    padding-bottom: 180px;
}

.blue_line {
    border: 4px solid rgba(105, 108, 223, 1);
    height: 50px;
}

.yellow_line {
    height: 50px;
    border: 4px solid rgba(209, 179, 94, 1)
}

.green_line {
    height: 50px;
    border: 4px solid rgba(152, 219, 179, 1)
}





.purpel_line {
    height: 50px;
    border: 4px solid rgba(92, 54, 138, 1);
}

.orange_line {
    height: 50px;
    border: 4px solid rgba(231, 110, 154, 1);
}

.min-h-646 {
    min-height: 646px;
}

.pb_106 {
    padding-bottom: 106px;
}

.layer {
    top: 0%;
    right: 0%;
}

.pb_130 {
    padding-bottom: 130px;
}

.pt_50 {
    padding-top: 50px;
}

.pl_24 {
    padding-left: 24px;
}

.max-sm-gap-24 {
    gap: 24px;
}

.bottom-layer {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width:992px) {
    .nav-view {
        flex-direction: column;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background: var(--btn-color);
        position: fixed;
        align-items: center;
        justify-content: center;
        z-index: 20;
    }

    .nav_btn {
        width: 30px;
        height: 30px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        /* position: absolute; */
        z-index: 21;
    }

    .nav_btn>span {
        width: 100%;
        height: 3px;
        background-color: var(--white-color);
        border-radius: 5px;
    }

    .show {
        left: 0;
    }

    .max-lg-none {
        display: none;
    }

    .lg-fs-50 {
        font-size: var(--fs-50);
    }

    .lg-lh-56 {
        line-height: var(--lh-56);
    }
}

@media (max-width:768px) {
    .md-fs-40 {
        font-size: var(--fs-40);
    }

    .md-lh-45 {
        line-height: var(--lh-45);
    }

    .max-w-210 {
        max-width: 210px;
        margin-left: auto;
        margin-right: auto;
    }

    .md-fs-14 {
        font-size: var(--fs-14);
    }
}

@media (min-width:992px) {
    .sec-2-img {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
    }
}

@media (min-width:576px) {
    .md_gap_30 {
        gap: 30px;
    }

    .gap-143 {
        gap: 143px;
    }

    .pt_54 {
        padding-top: 54px;
    }

}